.upload-image-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
  
.empty-upload-image-wrapper {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.upload-image-content {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;

  &:hover {
    .upload-image-mask {
      opacity: .5;
      border-radius: 100%;
    }

    .upload-image-handle {
      display: block;
      color: #fff;
      cursor: pointer;
    }
  }

}


.upload-image-handle {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  z-index: 2;
  display: none;
  width: 20px;
  height: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}





.input-file {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  opacity: 0;
}

.upload-image-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: 0;
}
.empty-upload-image-content {
  &:hover {
    .upload-image-mask {
      opacity: 0;
    }

    .upload-empty-image-handle {
      display: block;
      color: #000;
      opacity: .8;
    }
  }
}
.image-holder {
  position: relative;
  border-radius: 100%;
  display: block;
  width: 100%;
  height: 100%;
  margin: auto;
  background-size: over;
}

.upload-empty-image-handle {
  position: absolute;
  top: calc(50% - 10px);
  left: calc(50% - 10px);
  z-index: 2;
  display: block;
  font-weight: bold;
  color: #000;
  opacity: 1;
}

.upload-image-handle-w {
  width: 50px;
  left: calc(50% - 25px);
}

  